* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    margin-right: 30px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.15rem;
    font-weight: 500;
}

nav h3 {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.baner-section {
    /* width: 862px; */
    text-align: center;
    margin: 0px auto;
}

.baner-title {
    color: #131313;
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.baner-description {
    color: #727272;
    font-weight: 400;
    margin: 0px auto;

}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 1.15rem 1.5rem;
    border: none;
    color: #fff;
    font-size: 1.05rem;
    font-weight: 600;
    margin: 40px auto;
    cursor: pointer;
}

.header-img img {
    width: 100%;
}


/* teamwork-section style */

.teamwork-section {
    margin: 70px 230px;
    display: flex;
    gap: 4.25rem;
    align-items: center;
}

.teamwork-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
}

.teamwork-images img {
    width: 300px;
    border-radius: 8px;
}

.teamwork-title {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.teamwork-title-part1{
    color:#727272;
    font-weight: 500;
}

.teamwork-title-part2{
    color:#131313;
}









/* Responsive media quaries */
/* mobile devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* tablet device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}

/* large device */
@media screen and (min-width:960px) and (max-width:1260px) {
    header {
        padding: 100px;
    }

}